.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.item {
  background-color: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  position: relative;
  transition: all 0.3s ease-in-out;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 0.5rem 0;
  gap: 0.5rem;
}

.header:hover {
  background-color: #f9f9f9;
}

.icon {
  font-size: 1rem;
  color: #777;
}

.question {
  font-size: 1rem;
  color: #333;
  margin: 0;
  flex-grow: 1;
}

.answer {
  font-size: 0.9rem;
  color: #555;
  line-height: 1.4;
  margin-top: 0.5rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.answer.open {
  max-height: 500px; /* Justera efter behov */
}

.deleteBtn {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  color: #f44336;
  padding: 0.25rem;
  transition: color 0.2s ease-in-out;
}

.deleteBtn:hover {
  color: #d32f2f;
}
